.bs-back-wrapper {
    display: flex;
    padding: 20px 10px;
}

.bs-category-name {
    font-weight: bold;
    text-align: center;
}

.bs-item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.bs-item {
    display: flex;
    padding: 5px;
}

.bs-item-icon {
    flex-grow: 1;
}

.bs-item-name {
    flex-basis: 35%;
}

.bs-item-qty {
    flex-basis: 15%;
}

.bs-item-actions {
    display: flex;
    flex-basis: 50%;
    text-align: center;
    justify-content: space-around;
}

.bs-add-product-form {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.addProductInput {
    flex-grow: 3;
    margin-right: 10px;
}

.addProductButton {
    flex-grow: 1;
}

.bs-item-link {
    text-decoration: none;
}